@property --reddish {
  syntax: "<color>";
  inherits: false;
  initial-value: #7A2741;
}

@property --whiter-reddish {
  syntax: "<color>";
  inherits: false;
  initial-value: #fae7f1;
}

@property --light-reddish {
  syntax: "<color>";
  inherits: false;
  initial-value: #da87a1;
}

@property --pinkish {
  syntax: "<color>";
  inherits: false;
  initial-value: #FF8693;
}

@property --white-pinkish {
  syntax: "<color>";
  inherits: false;
  initial-value: #F2D1FE;
}

@font-face {
  font-family: 'Calluna';
  src: url('/fonts/Calluna-Regular-webfont.woff2') format('woff2'),
       url('/fonts/Calluna-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calluna Sans';
  src: url('/fonts/CallunaSansRegular-webfont.woff2') format('woff2'),
       url('/fonts/CallunaSansRegular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calluna Sans';
  src: url('/fonts/CallunaSansItalic-webfont.woff2') format('woff2'),
       url('/fonts/CallunaSansItalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

html, body {
  font-family: 'Calluna Sans', sans-serif;
  font-size: 16pt;
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behaviour: smooth;
}

.welcome {
  font-family: 'Calluna', serif;
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('images/DSC_5434.jpg') no-repeat center center;
  background-size: cover;
}

@media (max-width: 600px) {
  .welcome  {
    background-position: center top;
  }
}

.welcome h1 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 46pt;
  font-weight: normal;
}



.welcome p {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 22pt;
  font-weight: normal;

}

.welcome p.global-date {
  top: 2%;
  left: 3%;
  transform: translate(0%, -50%);
  font-size: 14pt;
  font-weight: normal;
  font-variant: italic;
  opacity: 0.4;
  /*align-items: center;*/
}

.top-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 6pt;
}

.chatbot-button, .rsvp-button {
  /*
  position: absolute;
  top: 20px;
  right: 20px;
  */
  padding: 10px 20px;
  background-color: white;
  /* color: #3D649B; */
  color: var(--reddish);
  border-radius: 15px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  opacity: 0.8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chatbot-button {
  padding-left: 8pt;
  padding-right: 8pt;
  opacity: 0.8;
}

.rsvp-button {
  font-family: 'Calluna Sans', sans-serif;
}

.rsvp-button:link, .rsvp-button:visited {
  border-bottom: 0;
}

a.scroll-arrow {
  position: absolute;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: white;
  text-decoration: none;
  animation: fade-in-out 3s infinite;
}

.scroll-arrow:link, .scroll-arrow:visited {
  color: white;
  border-bottom: 0;
}

.scroll-arrow:hover {
  color: #FFDD57;
}

@keyframes fade-in-out {
    0%, 100% { opacity: 0.8; }
    50% { opacity: 0.2; }
}

main {
  margin-left: 1em;
  margin-right: 1em;
  padding-bottom: 2vh;
}

.date-loc {
  font-size: x-large;
  margin-top: 4pt;
  margin-bottom: 4pt;
}

main h2 {
  color: var(--reddish);
  margin-top: 2ex;
}

ul.date-locations {
  list-style-type: none;
  padding: 0;
  font-size: 20pt;
}

.date-locations .date:after {
  content: " · ";
  color: var(--pinkish);
}

a:link, a:visited {
  color: var(--reddish);
  text-decoration: none;
  border-bottom: 1px dotted var(--white-pinkish);
}

a:hover {
  background-color: var(--pinkish);
  color: white;
}

.event:nth-child(even) {
  flex-direction: row-reverse;
}

.events {
    margin: 50px 0;
    position: relative;
}

.events::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    background: var(--reddish);
    transform: translateX(-50%);
}

.event {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 0;
  position: relative;
}

.event:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 13px;
    height: 13px;
    background: var(--reddish);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.event-description, .event-image {
  flex: 1 1 45%;
  max-width: 45%;
}

.event img {
  height: auto;
  width: 35%;
  border-radius: 10px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .event img {
    width: 36%;
  }
}

@media (max-width: 800px) {
  .event img {
    width: 37%;
  }
}

@media (max-width: 768px) {
  .event img {
    width: 38%;
  }
}

@media (max-width: 600px) {
  .event img {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .event img {
    width: 60%;
  }
}

.event:nth-child(even) img {
  margin-left: 0;
  margin-right: auto;
}

.event:nth-child(even) .event-image {
  order: 2; /* Ensure the image is on the right */
  text-align: right; /* Align image to the right */
}

.event:nth-child(even) img {
  margin-left: auto;
  margin-right: 0;
}

.event:nth-child(odd) .event-description {
  text-align: right;
}


.event .date-time, .event .location {
  display: block;
  font-size: 16pt;
  font-weight: bold;
}

.event a.location:visited, .event a.location:link {
  border-bottom: 0;
}

.event-spacer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  position: relative;
  width: 100%;
}

.event-spacer::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 3pt;
  height: 100%;
  background: white;
}

.event-spacer::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2pt;
  height: 100%;
  background: linear-gradient(var(--reddish) 50%, transparent 50%) 0 0 / 2pt 8pt repeat-y;
}

#result-message {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 24em;
  margin: 3ex auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.rsvp-form {
  display: flex;
  flex-direction: column;
  max-width: 24em;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rsvp-form fieldset {
  border: 1px solid var(--reddish);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.rsvp-form legend {
  padding: 0 10px;
  font-weight: bold;
  color: var(--reddish);
}

.rsvp-form label {
  display: block;
  margin-top: 10px;
}

.rsvp-form input[type="text"],
.rsvp-form input[type="email"],
.rsvp-form input[type="tel"],
.rsvp-form input[type="number"],
.rsvp-form textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.rsvp-form input[type="checkbox"] {
    margin-right: 10px;
}

.rsvp-form .modify-message {
    font-size: 14px;
    color: var(--pinkish);
    margin-top: -10px;
    margin-bottom: 20px;
    font-style: italic;
}

.rsvp-form button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: var(--reddish);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.rsvp-form button:hover {
    background-color: var(--pinkish);
}

blockquote {
  margin: 0;
  color: var(--light-reddish);
}

footer {
  font-size: 8pt;
  text-align: center;
  padding-bottom: 2vh;
  color: grey;
}

footer a:link, footer a:visited {
  color: gray;
}

#chatbot-input {
  font-family: 'Calluna Sans', sans-serif;
  font-size: 14pt;
  color: var(--light-reddish);
  border-radius: 6pt;
  border-width: 1px;
  border-color: var(--reddish);
  width: 24em;
  padding: 4pt;
  margin-top: 3ex;
}

#chatbot-button {
  font-family: 'Calluna Sans', sans-serif;
  font-size: 14pt;
  /*padding: 10px 20px;*/
  background-color: var(--reddish);
  color: white;
  border-radius: 5px;
  border-width: 1px;
  font-weight: bold;
  padding: 4pt;
  margin-top: 1ex;
}

#chatbot-button:hover {
  background-color: var(--pinkish);
}

.chatbot-question {
  margin-top: 1.5ex;
  margin-bottom: 1ex;
  background-color: var(--light-reddish);
  color: white;
  border-radius: 8pt;
  padding: 4pt;
  width: 24em;
}

.chatbot-question::before {
  content: "🕵️‍♀️ ";
}

.chatbot-answer::before {
  content: "🤖 ";
}

.chatbot-answer {
  background-color: var(--whiter-reddish);
  border-radius: 8pt;
  font-size: 90%;
  padding: 1ex;
  width: 24em;
  margin-left: 2em;
}

.wcbot {
  color: var(--reddish);
  background-color: #fae0e0;
  border-radius: 4pt;
  padding: 2pt;
}

.allura-regular {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
}

.welcome p.passions-conflict-regular {
  font-family: "Passions Conflict", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50pt;
  line-height: 90%;
}

.and {
  /*color: var(--pinkish);*/
  font-family: "Passions Conflict", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 80pt;
  color: #ffd1fe;
  margin-right: 1pt;
 /*color: var(--pinkish);*/
}

@media (max-width: 600px) {
  #chatbot-input {
    width: 15em;
  }

  .chatbot-question {
    width: 15em;
  }

  .chatbot-answer {
    width: 15em;
  }

  .and {
  font-size: 50pt;}

  .welcome h1 {
    font-size: 30pt;
  }

  .welcome p.passions-conflict-regular {
    font-family: "Passions Conflict", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30pt;
    top: 60%;
  }
}
